@media screen and (max-width: 575px) {
  .componentWrapper {
    width: 575px;
    margin-left: 1% !important;
    margin-right: 1% !important;
    margin-top: 6% !important;
  }
  #headerLogo {
    width: 100px;
    margin-left: 1%;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .componentWrapper {
    width: 768px;
  }
  #support{
    padding-left: 55% !important;
  }
  }
.lineFade {
  margin: 6px 0;
  height: 1.7px;
  background: darkgray;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, darkgray));
}
.componentWrapper {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}
#support {
  display: inline;
  padding-left: 60%;
  font-size: 20px;
}
#support:hover {
  color: #0ADD9F;
  cursor: pointer;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}
#headerLogo {
  cursor: pointer;
}
#headerLogo:focus {
  outline: 0;
}
a {
  text-decoration: none;
  color: black
}
