<div class="componentWrapper">
  <img [routerLink]="['']" id="headerLogo" src="/assets/wtflogoOne.png">
  <a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=VY79S2PLALAWQ&item_name=whatsthefunc.com&currency_code=USD&source=url"><p id="support">Support Us</p></a>
  <div class="lineFade"></div>
</div>

