.footerContainer {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ededed;
}
#footerItem {
  padding: 7px;
}
@media screen and (max-width: 575px) {
  .footerContainer {
    flex-direction: column;
    text-align: center;
    width: 575px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .footerContainer {
    width: 845px;
  }
}
a {
  text-decoration: none;
  color: black;
}
