.centerDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#successHeader {
  font-size: 40px;
  margin-top: 2%;
  margin-bottom: 0;
  color: #0ADD9F;
  font-size: 60px;
}
#successSub {
  font-size: 20px;
}
@media screen and (max-width: 575px) {
  .centerDiv {
    width: 575px;
  }
}
