@media screen and (max-width: 575px) {
  .ctaContainer {
    width: 575px;
  }
  #ctaButton {
    width: 39% !important;
    margin-bottom: 7% !important;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .ctaContainer {
    width: 845px;
  }
  #ctaButton {
    width: 39% !important;
    margin-bottom: 7% !important;
  }
}
#ctaCalling {
  text-align: center;
  color: #0e1e25;
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 0;
}
#ctaSubText {
  text-align: center;
  font-size: 20px;
}
.inputConainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#containerObj {
width: 34%;
border-radius: 25px;
border: 1.5px solid #0ADD9F;
padding: 6px;
font-weight: bold;
font-size: 20px;
text-align: center;
}
#ctaButton {
  margin: 1%;
  width: 19%;
  padding: .382em 1em;
  background-color: #0ADD9F;
  color: white;
  border: #0ADD9F 1px solid;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 0 0 1px rgba(255,255,255,.1), 0 2px 4px 0 rgba(14,30,37,.12);
}
#ctaNoSpam {
  margin: 0;
  font-size: 13px;
  font-style: italic;
}
