<div class="ctaContainer">
    <h1 id="ctaCalling">Sound Like A Plan?</h1>
    <div class="inputConainer">
        <button id="ctaButton" [ngx-scroll-to]="'#ctaContainer'">Get Started Today</button>
    </div>
  </div>
