<div class="ctaContainer" id="ctaContainer">
  <h1 id="ctaCalling">Read Code Like A Pro</h1>
  <p id="ctaSubText">Put a end to feeling intimidated or overwhelmed when reading unfamiliar code</p>
  <p id="errorWithEmail">{{ emailHasErrorMessage }}</p>
  <div class="inputConainer">
    <input type="email" #newUserEmailData (keyup.enter)="newUserEmail(newUserEmailData.value)" id="containerObj"
      placeholder="Enter Email Address">
    <button (click)="newUserEmail(newUserEmailData.value)" id="ctaButton">Get Started For Free</button>
    <p id="ctaNoSpam">No spam ever & easy Unsubscribe</p>
  </div>
</div>

