@media screen and (max-width: 575px) {
  .componentWrapper {
    width: 575px;
  }
  #howWorksTop {
    font-size: 34px !important;
  }
  #innerImageOne {
    width: 199px !important;
    padding-top: 35px;
  }
  #innerImageTwo {
    width: 225px !important;
  }
  #innerImageThree {
    width: 220px !important;
    padding-top: 15px;
  }
  .purposeInner {
    width: 575px;
  }
  #bottomFlow {
    width: 575px !important;
  }
  .purposeInnerContainer {
    width: 556px !important;
  }
  .container {
    margin: 0% !important;
    margin-left: 5%!important;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .componentWrapper {
    width: 845px;
  }
  #bottomFlow {
    width: 845px !important;
  }
  .container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  }
.componentWrapper {
  background-image: linear-gradient(to right, #10949c, #6f0084);
  margin: 0;
  padding-bottom: 50px;
}
#howWorksTop {
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 45px;
  margin-bottom: 0;
}
.purposeContainer {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-evenly;
}
.container {
  display: flex;
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: space-evenly;
}
.purposeInnerContainer {
  color: white;
  width: 440px;
  margin: 1%;
  height: 250px;
}
.purposeInnerHeader {
  font-size: 35px;
  margin-top: 20%;
}
#bottomFlow {
  height: 150px; overflow: hidden;
}
#innerImageOne {
  width: 262px;
  padding-top: 60px;
}
#innerImageTwo {
  width: 262px;
  padding-top: 60px;
}
#innerImageThree {
  width: 262px;
  padding-top: 60px;
}
.purposeInnerDescription {
  font-size: 19px;
}
#containerOne {
  margin-top: 3%;
}
