<div class="componentWrapper">
  <div style="height: 150px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;fill: white;"></path>
    </svg>
  </div>
  <h1 id="howWorksTop">Whats The Func Makes It Simple.</h1>
  <div id="containerOne" class="container">
    <div class="purposeInnerContainer">
      <h1 class="purposeInnerHeader">1. We gather the functions</h1>
      <p class="purposeInnerDescription" >We collect functions from around the internet and bring them right to your email once a week.</p>
    </div>
    <div class="purposeInner">
      <img id="innerImageOne" src="assets/purposeOne.png">
    </div>
  </div>
  <div class="container">
      <div class="purposeInnerContainer">
          <h1 class="purposeInnerHeader">2. You break them down</h1>
          <p class="purposeInnerDescription">Break down the function using our provided formula that makes it easy to understand the code.</p>
      </div>
      <div class="purposeInner">
          <img id="innerImageTwo" src="assets/purposeThree.png">
      </div>
    </div>
    <div class="container">
        <div class="purposeInnerContainer">
            <h1 class="purposeInnerHeader">3. You Make a response</h1>
            <p class="purposeInnerDescription">Formulate a response in your own words explaining what the function does with the help of our keywords list.</p>
        </div>
        <div class="purposeInner">
            <img id="innerImageThree" src="assets/purposeTwo.png">
        </div>
      </div>
</div>
<div id="bottomFlow">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <linearGradient id="grad3" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:#10949C" />
            <stop offset="100%" style="stop-color:#6F0084" />
          </linearGradient>
      <path d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;fill: url(#grad3);"></path>
    </svg>
  </div>
