<div class="container">
  <h1>PRIVACY STATEMENT</h1>
  <h2> 1 - WHAT DO WE DO WITH YOUR INFORMATION?</h2>
  We Only collect your email address and any other information you provide us with.

  <h2>SECTION 2 - CONSENT</h2>
  How do you get my consent?

  When you provide us with personal information to complete a transaction, we imply that you consent to our collecting it and using it for that specific reason only.

  If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.

  How do I withdraw my consent?

  If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at founders@whatsthefunc.com.

  <h2>SECTION 3 - DISCLOSURE</h2>
  We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.

  <h2>SECTION 4 - SECURITY</h2>
  To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.

  If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with a AES-256 encryption. Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards.

  <h2>SECTION 5 - AGE OF CONSENT</h2>
  By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.

  <h2>SECTION 6 - CHANGES TO THIS PRIVACY POLICY</h2>
  We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.

  <h2>QUESTIONS AND CONTACT INFORMATION</h2>
  If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact our Privacy Compliance Officer at founders@whatsthefunc.com.

</div>
